header {
  position: sticky;
  z-index: 999;
  left: 0;
  top: 0;
  right: 0;
  height: 109px;
  background-color: rgba(20, 29, 47, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;

  img {
    height: 38px;
  }
}

nav {
  font-size: 23px;

  a {
    margin-left: 32px;
    position: relative;
    display: inline-block;
    text-decoration: none;

    &::after {
      content: ' ';
      position: absolute;
      left: 0;
      width: 0;
      height: 3px;
      background-color: rgba(75, 71, 255, 1);
      bottom: 0;
      transition: width 300ms ease-in-out;
    }
    &:hover::after {
      width: 55px;
    }
  }
}


.overlay-menu {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.7);
  z-index: 9999;

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}

.close-btn {
  position: absolute;
  top: 35px;
  right: 102px;
}




