<footer>
    <div class="container-left">
        <img src="assets/img/bd_logo_white.png" alt="Logo">
        <a routerLink="/legal-notice">Legal Notice</a>
    </div>
    <div class="container-middle">© Björn Daigger 2023</div>
    <div class="container-right">
        <div><a href="https://github.com/bjoerndaigger" target="_blank"><img src="assets/img/github_icon.png"></a></div>
        <div><a href="https://www.linkedin.com/in/bjoerndaigger" target="_blank"><img
                    src="assets/img/linkedin_icon.png"></a></div>
        <div><a href="mailto:mail@bjoerndaigger.de"><img src="assets/img/email_icon.png"></a></div>
    </div>
</footer>