<div id="about"class="container">
    <div class="background-shadow">
        <img src="assets/img/about_me_shadow.png">
    </div>
    <div class="container-left">
        <h2>About me</h2>
        <p class="margin-top-30">Hi, I'm a frontend developer based in Mannheim, Germany. Lorem ipsum dolor sit amet
            consectetur
            adipisicing elit. Odio consequuntur amet molestiae ab illo necessitatibus, fuga enim eum, nisi autem ad
            eligendi omnis eaque! Sequi tenetur vitae quas ab adipisci!</p>

        <div class="bulb-container margin-top-30">
            <div class="icon-container">
                <img src="assets/img/bulb_icon.png">
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur non culpa deserunt tenetur
                assumenda neque quam ab dolores. Quibusdam asperiores perferendis eos veniam provident. Odit,
                consequatur? Est consequatur quam tempore!</p>
        </div>
        <div class="puzzle-container margin-top-30">
            <div class="icon-container">
                <img src="assets/img/puzzle_icon.png">
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur non culpa deserunt tenetur
                assumenda neque quam ab dolores. Quibusdam asperiores perferendis eos veniam provident. Odit,
                consequatur? Est consequatur quam tempore!</p>
        </div>

    </div>
    <div class="container-right">

        <img src="assets/img/profile.png">
        <div class="about-me-border"></div>
    </div>
</div>