<div id="about" class="container">
    <div class="background-shadow">
        <img src="assets/img/about_me_shadow.png">
    </div>
    <div class="container-left">
        <h2>About me</h2>
     <div data-aos="fade-right">
            <p class="margin-top-30">Hi, I'm Björn Daigger, junior frontend developer from Mannheim, Germany. I create
                user experiences and bring designs to life with clean and efficient code.
            </p>
            <p class="margin-top-30"> My professional journey started as a professional musician, where I was usually
                responsible for website creation, the online store and social media management. I have always been
                fascinated by the rapid developments in the digital world, so it was a logical step for me to pursue
                further education as a frontend developer to expand my skills.</p>
            </div>
        <div data-aos="fade-right" class="bulb-container margin-top-30">
            <div class="icon-container">
                <img src="assets/img/bulb_icon.png">
            </div>
            <p>I develop processes that help to optimize your processes. In doing so, I greatly enjoy working with a
                team on projects and collectively finding solutions to challenges.</p>
        </div>
        <div data-aos="fade-right" class="puzzle-container margin-top-30">
            <div class="icon-container">
                <img src="assets/img/puzzle_icon.png">
            </div>
            <p>Now that I've completed my advanced training, I'm looking forward to starting a new career as a junior
                frontend developer.</p>
        </div>
    </div>
    <div class="container-right">
        <img src="assets/img/profile.png">
        <div class="about-me-border"></div>
    </div>
</div>