.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 128px 0 0 100px;
  max-width: 1920px;
  margin: 0 auto;
}

.background-shadow {
  position: absolute;
  top: -300px;
  right: -400px;
}

.container-left {
  margin-right: 128px;
}

.bulb-container,
.puzzle-container {
  display: flex;
}

.icon-container {
  margin-left: 30px;
  margin-right: 30px;
  img {
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
}

.container-right {
  display: flex;
  align-items: center;
  z-index: 1;
  margin-top: 24px;
  img {
    border-radius: 100%;
    max-width: 453px;
    max-height: 453px;
    border: solid 4px rgba(0, 190, 232, 1);
  }
}

.about-me-border {
  background-color: rgba(0, 190, 232, 1);
  width: 1267px;
  margin-right: -920px;
  height: 4px;
}

@media only screen and (max-width: 1600px) {
  .container-right {
    img {
      max-width: 353px;
      max-height: 353px;
    }
  }
  .about-me-border {
    width: 180px;
  }
}

@media only screen and (max-width: 1400px) {
  .container-left {
    margin-right: 96px;
  }
  .container-right {
    img {
      max-width: 303px;
      max-height: 303px;
    }
  }
  .about-me-border {
    width: 140px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    padding-right: 100px;
  }

  .background-shadow {
    top: 0;
  }
  .container-left {
    margin-right: 0;
  }

  .container-right {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
