<div class="container">
    <div class="content-container">
        <div class="container-left">
            <div><img src="assets/img/profile_hero.png" alt="Björn Daigger - Web Developer"></div>
            <div class="photo-shadow">
                <img src="assets/img/title_shadow.png">
            </div>
        </div>
        <div class="container-right">
            <div class="headline">
                <div class="headline-left">
                    I am
                </div>
                <div class="headline-right">
                    <h1>Björn Daigger</h1>
                    <div class="headline-job">FRONTEND DEVELOPER</div>
                </div>
            </div>
            <div class="contact-btn">
                <a href="#contact"><button class="main-btn">Let's talk!</button></a>
            </div>
        </div>
    </div>
    <div class="contact-links">
        <div class="contact-border"></div>
        <div><a href="https://github.com/bjoerndaigger" target="_blank"><img src="assets/img/github_icon.png"></a></div>
        <div><a href="https://www.linkedin.com/in/bjoerndaigger" target="_blank"><img
                    src="assets/img/linkedin_icon.png"></a></div>
        <div><a href="mailto:mail@bjoerndaigger.de"><img src="assets/img/email_icon.png"></a></div>
        <div class="email"><a href="mailto:mail@bjoerndaigger.de">mail@bjoerndaigger.de</a></div>
    </div>
    <div class="scroll-down">
        <a href="#about">Scroll down</a>
        <img src="assets/img/arrow_right.png">
    </div>
</div>
<div class="background-shape">
    <img src="assets/img/background_shape.png">
</div>
<div class="background-shape-mobile">
    <img src="assets/img/background_shape_mobile.png">
</div>