.container {
  scroll-behavior: smooth;
  margin-top: 109px;
}

.background-shape,
.background-shape-mobile {
  display: flex;
  position: absolute;
  top: 400px;
  width: 100vw;
  height: 1000px;

  img {
    width: 100%;
  }
}

.background-shape-mobile {
  display: none;
}

.photo-shadow {
  position: absolute;
  top: 69px;
  left: -32px;
  z-index: -1;
}

.content-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-left {
  padding-left: 100px;
  z-index: -1;
  img {
    max-height: 705px;
  }
}

.container-right {
  position: absolute;
  right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headline {
  display: flex;
}

.headline-left {
  rotate: 270deg;
  font-size: 67px;
  display: flex;
  align-items: center;
  margin-right: -16px;
  margin-bottom: -12px;
}

.headline-right {
  display: flex;
  flex-direction: column;
}

.headline-job {
  font-size: 58px;
  color: rgba(75, 71, 255, 1);
  margin-top: -24px;
}

.contact-btn {
  margin-top: 32px;
  z-index: 1;
}

.contact-links {
  display: flex;
  align-items: center;
  gap: 32px;
  position: relative;
  z-index: 1;
  height: 40px;

  img {
    width: 30px;
    display: flex;
    align-items: center;
    transition: transform 100ms ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
}

.contact-border {
  border: solid 2px rgba(75, 71, 255, 1);
  width: 100px;
}

.email {
  font-size: 23px;
}

.scroll-down {
  position: absolute;
  right: 35px;
  top: 770px;
  z-index: 1;
  rotate: 90deg;
  font-size: 23px;
  display: flex;
  align-items: center;
  gap: 8px;
}

@media only screen and (max-width: 1600px) {
  .headline {
    h1 {
      margin-bottom: 4px;
    }
  }
  .headline-left {
    font-size: 49px;
    margin-bottom: -10px;
  }

  .headline-job {
    font-size: 44px;
  }
}

@media only screen and (max-width: 992px) {
  .background-shape {
    display: none;
  }

  .background-shape-mobile {
    display: block;
  }

  .photo-shadow {
    left: 50%;
    transform: translateX(-50%);
    img {
      height: 600px;
    }
  }

  .content-container {
    flex-direction: column;
  }

  .container-left {
    padding-left: 0;
    img {
      max-height: 448px;
    }
  }
  .container-right {
    position: relative;
    left: -8px;
    right: 8px;
    margin-bottom: 30px;
  }

  .headline {
    h1 {
      margin-bottom: 16px;
    }
  }

  .headline-left {
    font-size: 40px;
    margin-bottom: -6px;
  }

  .headline-job {
    font-size: 33px;
  }

  .contact-btn {
    margin-left: 16px;
  }

  .scroll-down,
  .email {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .background-shape-mobile {
    top: 440px;
  }

  .headline-left {
    font-size: 33px;
    margin-bottom: -4px;
  }

  .headline-job {
    font-size: 29px;
  }
}

@media only screen and (max-width: 400px) {
  .headline-job {
    font-size: 21px;
    margin-top: -20px;
  }

  .headline-left {
    font-size: 25px;
    margin-bottom: -2px;
    margin-right: -12px;
  }
}

@media only screen and (max-width: 320px) {
  .contact-links {
    gap: 16px;
  }
}
