<div class="content">
    <div class="background-shape">
        <img src="assets/img/background_shape.png">
    </div>
    <div class="title">
        <div class="photo-shadow">
            <img src="assets/img/title_background.png">
        </div>
        <div class="title-left">
            <img src="assets/img/profile_hero.png" alt="Björn Daigger"></div>
        <div class="title-right">
            <div class="headline">
                <div class="headline-left">
                    I am
                </div>
                <div>
                    <div class="headline-name">Björn Daigger</div>
                    <div class="headline-job">FRONTEND DEVELOPER</div>
                </div>
            </div>
            <div class="contact-btn">
                <button class="main-btn">Let's talk!</button>
            </div>
        </div>
    </div>
    <div class="contact-links">
        <div class="contact-border"></div>
        <div><a href="https://github.com/bjoerndaigger" target="_blank"><img src="assets/img/github_icon.png"></a></div>
        <div><a href="https://www.linkedin.com/in/bjoerndaigger" target="_blank"><img src="assets/img/linkedin_icon.png"></a></div>
        <div><a href="mailto:mail@bjoerndaigger.de"><img src="assets/img/email_icon.png"></a></div>
        <div class="email"><a href="mailto:mail@bjoerndaigger.de">mail@bjoerndaigger.de</a></div>
    </div>
    <div class="scroll-down">
        <a href="#">Scroll down</a>
        <img src="assets/img/arrow_right.png">
    </div>
</div>