<div id="contact" class="container">
    <div class="background-shadow">
        <img src="assets/img/contact_shadow.png">
    </div>
    <div class="scroll-up">
        <a href="#" (click)="scrollToTop()">
            <img [src]="isMouseOver ? 'assets/img/scroll_up_active.png' : 'assets/img/scroll_up.png'"
            (mouseover)="isMouseOver = true"
            (mouseout)="isMouseOver = false">
        </a>
    </div>
    <div class="headline">
        <div class="headline-border"></div>
        <h2>Contact</h2>
    </div>
    <div class="contact-container margin-top-30">
        <div class="container-left">
            <h3>Got a problem to solve?</h3>
            <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
                projects with my work.</p>

            <p>Need a Frontend developer? <b>Contact me!</b></p>
        </div>
        <div class="container-right">
            <form ngNativeValidate (submit)="sendMail()" #myForm>
                <div class="input-container">
                    <input type="text" name="name" placeholder="Your name" #nameField required>
                    <input type="email" name="email" placeholder="Your email" #emailField required>
                    <textarea name="message" rows="8" cols="40" placeholder="Your message" #messageField
                        required></textarea>
                    <div class="checkbox-container">
                        <input type="checkbox" id="privace-policy-checkbox" name="privacy-policy" required>
                        <label for="privace-policy-checkbox"><span>I've read the privacy policy and agree to the
                                processing of my data as outlined.</span></label>
                    </div>
                </div>
                <div class="btn-container">
                    <button class="btn-gray">Send message :)</button>
                </div>
            </form>
        </div>
    </div>
    <div class="bottom-border"></div>
</div>