.container {
  padding-top: 100px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}
.headline-border-left {
    border: solid 2px rgb(75, 71, 255);
    width: 109px;
  }

  .headline-border-right {
    border: solid 2px rgb(75, 71, 255);
    width: 484px;
  }