<div class="container">
    <h1>Legal Notice</h1>
    <p><b>Information in accordance with Section 5 TMG:</b></p>
    
    <address>Björn Daigger<br>
    Scheffelstraße 46<br>
    68259 Mannheim<br>
    Germany</address>
    
    <p><b>Contact Information:</b></p>
    <p>Telephone: <a href="tel:+491797757454">+49 179 7757454</a></p>
    <p>E-Mail: <a href="mailto:mail@bjoerndaigger.de">mail@bjoerndaigger.de</a></p>
    <p>Internet address: <a href="http://www.bjoerndaigger.de" target="_blank">www.bjoerndaigger.de</a></p>
</div>