.container {
  position: relative;
  display: flex;
  padding-top: 128px;
  padding-left: 100px;
  max-width: 1920px;
  margin: 0 auto;
}

.background-shadow {
  position: absolute;
  top: 200px;
  left: -350px;
  z-index: -1;
}

.content-container {
  display: flex;
}

.container-left {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 88px;
  height: 100px;
  margin-top: 32px;
  margin-right: 64px;
  margin-bottom: 32px;
  gap: 10px;
  text-align: center;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.icon-animation {
  position: relative;
  display: inline-block;
  &:hover {
    animation: bounce 1s both;
  }
}

.contact-btn-mobile {
  display: none;
}

.headline {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
  white-space: nowrap;
}

.headline-border {
  border: solid 2px rgb(75, 71, 255);
  width: 1058px;
  margin-right: -920px;
}

.skill-info {
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    text-align: right;
  }
}

@media only screen and (max-width: 992px) {
  .background-shadow {
    top: auto;
    bottom: 0;
    left: -400px;
  }

  .content-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .container-left {
    width: auto;
    margin-top: 96px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
  }

  .icon-container {
    margin: 0;
  }

  .contact-btn {
    display: none;
  }

  .contact-btn-mobile {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    padding-right: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding-left: 0;
  }

  .container-left {
    padding-left: 25px;
    padding-right: 25px;
  }

  .contact-btn-mobile {
    padding-right: 0;
  }

  .headline {
    gap: 8px;
  }

  .headline-border {
    width: 17px;
  }

  .skill-info {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media only screen and (max-width: 600px) {
}
