<div id="skills" class="container">
    <div class="background-shadow">
        <img src="assets/img/my_skills_shadow.png">
    </div>
    <div class="content-container">
        <div>
            <div class="container-left">
                <div data-aos="flip-right" class="icon-container">
                    <div class="icon-animation">
                        <img src="assets/img/angular_icon.png">
                    </div>
                    <span>Angular</span>
                </div>
                <div data-aos="flip-right" class="icon-container">
                    <div class="icon-animation">
                        <img src="assets/img/typescript_icon.png">
                    </div>
                    <span>TypeScript</span>
                </div>
                <div data-aos="flip-right" class="icon-container">
                    <div class="icon-animation">
                        <img src="assets/img/javascript_icon.png">
                    </div>
                    <span>JavaScript</span>
                </div>
                <div data-aos="flip-right" class="icon-container">
                    <div class="icon-animation">
                        <img src="assets/img/html_icon.png">
                    </div>
                    <span>HTML</span>
                </div>
                <div data-aos="flip-right" class="icon-container">
                    <div class="icon-animation">
                        <img src="assets/img/firebase_icon.png">
                    </div>
                    <span>Firebase</span>
                </div>
                <div data-aos="flip-right" class="icon-container">
                    <div class="icon-animation">
                        <img src="assets/img/git_icon.png">
                    </div>
                    <span>GIT</span>
                </div>
                <div data-aos="flip-right" class="icon-container">
                    <div class="icon-animation">
                        <img src="assets/img/css_icon.png">
                    </div>
                    <span>CSS</span>
                </div>
                <div data-aos="flip-right" class="icon-container">
                    <div class="icon-animation">
                        <img src="assets/img/rest_api_icon.png">
                    </div>
                    <span>REST-API</span>
                </div>
                <div data-aos="flip-right" class="icon-container">
                    <div class="icon-animation">
                        <img src="assets/img/scrum_icon.png">
                    </div>
                    <span>Scrum</span>
                </div>
                <div data-aos="flip-right" class="icon-container">
                    <div class="icon-animation">
                        <img src="assets/img/material_design_icon.png">
                    </div>
                    <span>Material Design</span>
                </div>
                <div data-aos="flip-right" class="icon-container">
                    <div class="icon-animation">
                        <img src="assets/img/wordpress_icon.png">
                    </div>
                    <span>Wordpress</span>
                </div>
            </div>
            <div class="contact-btn-mobile">
                <a href="#contact"><button class="main-btn margin-top-30">Get in touch</button></a>
            </div>
        </div>
        <div class="container-right">
            <div class="headline">
                <h2>My skills</h2>
                <div class="headline-border"></div>
            </div>
            <div data-aos="fade-left" class="skill-info">
                <a href="#contact"><button class="contact-btn main-btn margin-top-30">Get in touch</button></a>
            </div>
        </div>
    </div>
</div>